$serif: "Rokkitt", Georgia, Times, serif;
$sans: "PT Sans", Helvetica, Arial, sans-serif;

$text_gray: #4d4d4d;
$gray: $text_gray;
$light-gray: #9c9c9c;
$bg-gray: #fafafa;
$background_color: #ededed;
$offwhite: $background_color;

// https://coolors.co/ffc700-258ea6-ff4542-ffafdc-3da81c
$yellow: #ffc700;
$blue: #258ea6;
$red: #ff4542;
$pink: #ffafdc;
$green: #3da81c;

$dark_blue:#1c6d7f;

$site-padding:20px;

$max_width: 1024px;
$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;

@import
  "partials/base",
  "partials/header",
  "partials/content",
  "partials/hero",
  "partials/home",
  "partials/list",
  "partials/footer",
  "partials/blocker",
  "partials/projects_module",
  "partials/skills_module",
  "partials/syntax-highlighting"
;