{% if page.layout != "home" %}
  {% assign hero_class = "smaller" %}
{% else %}
  {% assign hero_class = "expanded" %}
{% endif %}
<div class="hero {{ hero_class }}">
  {% include img/logo.svg %}
  <h1 class="name">Steven Washington</h1>
  <span class="layer red"></span>
  <span class="layer blue"></span>
  <span class="layer yellow"></span>
</div>

<script type="text/javascript">
  function hero_init() { document.querySelector('.hero').classList.add('load'); }
  if (!swash.onDocumentReady) {
    hero_init();
  } else {
    swash.onDocumentReady(hero_init);
  }

</script>