.block {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color:$blue;

  .block-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family:$serif;
    font-size:2rem;
    text-align:center;
    color:$yellow;
  }
}