header.site-header {
  font-size:1.6rem;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color:#fff;
  box-shadow:0 0 20px rgba(0,0,0,0.4);
  z-index:10;

  .wrapper {
    display:table;
    table-layout:fixed;
    width:100%;
    max-width:none;
    padding:0 20px;

    & > .title-link, & > nav {
      display:table-cell;
      vertical-align:middle;
    }

    & > *:last-child {
      text-align:right;
    }
  }

  .title-link {
    font-size:0;
    
    a {
      width:80px;
      display:inline-block;
    }

    svg {
      transition:all 0.2s linear;

      &:hover {
        fill:$gray;
      }
    }
  }

  nav {
    padding:10px 0;

    input[type='checkbox'] {
      position:absolute;
      left:-999px;
    }

    label {
      cursor:pointer;
      position:relative;
      z-index:10;
      display:block;

      .menu-icon {
        width:30px;
        height:30px;
        position:relative;
        float: right;
        border-radius:5px;
        background-color:transparent;
        transition:all 0.2s ease-in-out;

        &:hover {
          background-color:$blue;
          .line {
            background-color:#fff;
          }
        }
      }

      .line {
        transition:all 0.2s ease-in-out;
        transform-origin:center;
        width:75%;
        height:3px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        background-color:$gray;
        border-radius:5px;

        &:first-child {
          transform:translate(-50%, -250%);
        }

        &:last-child {
          transform:translate(-50%, 150%);
        }
      }
    }

    .trigger {
      position:absolute;
      top:0;
      right:0;
      height:100vh;
      background-color:$blue;
      padding:60px 30px;
      transform:translateX(100%);
      transition:transform 0.2s ease-in-out;
      z-index:9;

      ul {
        list-style:none;
        margin:0;
        padding:0;

        li {
          display:block;
          margin:20px 40px;
          padding:0;
          text-align:center;
          padding:10px 25px;
          font-family:$serif;

          a {
            color:#fff;
            position:relative;

            &:after {
              content:"";
              position:absolute;
              top:100%;
              left:0;
              width:100%;
              height:3px;
              background-color:$yellow;
              opacity:0;
              transform:translate(0, 250%);
              pointer-events:none;
              transition:all 0.2s ease-in-out;
            }

            &:hover {
              color:$yellow;

              &:after {
                opacity:1;
                transform:translate(0,0);
              }
            }
          }
        }
      }
    }

    label#body-blocker {
      position:fixed;
      top:0;
      left:0;
      width:100vw;
      height:100vh;
      background-color:rgba(0,0,0,0.4);
      z-index:8;
      display:block;
      opacity:0;
      pointer-events:none;
      transition:opacity 0.2s ease-in-out;
    }

    #nav-trigger:checked{
      & + label + .trigger {
        transform:translate(0);
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
      }

      & + label + .trigger + #body-blocker {
        opacity:1;
        pointer-events:all;
      }

      & + label {

        .line {
          background-color:#fff;
        }

        #line-1 {
          transform:translate(-50%, -50%) rotate(45deg);
        }

        #line-3 {
          transform:translate(-50%, -50%) rotate(-45deg);
        }

        #line-2 {
          opacity:0;
        }
      }
    }
  }
}