main {
  .wrapper {
    .post-list {
      list-style:none;
      margin:0;
      padding:0;

      h1, h2, h3 {
        text-align:left;
      }

      .post-item {
        font-size:0;
        margin-bottom:25px;

        & > div {
          display:inline-block;
          font-size:1rem;
          max-height:250px;
        }

        .post-img {
          text-align:center;
          width:30%;

          img { 
            max-width:100%; 
            max-height:100px; 
          }
        }

        .post-info {
          width:100%;
        }

        .post-img + .post-info {
          width:70%;
        }
      }
    }

    .blocks {
      .post-item {
        a {
          display:block;
          padding:10px 0;
          text-align:center;
        }

        &.item-green  { a { @extend %green-link; } }
        &.item-blue   { a { @extend %blue-link; } }
        &.item-yellow { a { @extend %yellow-link; } }
        &.item-red    { a { @extend %red-link; } }
      }
    }
  }
}