$gutter:15px;

.featured-projects {
  width:100%;
  font-size:0;
  overflow:hidden;

  &:after {
    content:"";
    clear:both;
  }

  .featured-project {
    float:left;
    width:calc(33% - #{$gutter});
    height:150px;
    font-size:1rem;
    display:table;
    border-radius:4px;
    margin:0 $gutter/2 $gutter;
    box-shadow:0px 3px 5px rgba(0,0,0,0.4);

    &.yellow a:hover {
      color:$red;
    }

    &.blue a {
      color:$yellow;

      &:hover {
        color:$red;
      }
    }

    & > * {
      display:table-cell;
      text-align:center;
      vertical-align:middle;
    }

    @media(max-width:$tablet) {
      width:calc(50% - #{$gutter});
    }

    @media(max-width:$mobile) {
      width:calc(100% - #{$gutter});
    }
  }
}