.featured-projects {
  .featured-project {
    width:60%;
    margin:25px auto;

    & > a {
      font-family:$serif;
      font-size:1.5rem;
      color:$gray;
      line-height:1.5;
      text-align:center;
      display:block;
    }

    &:nth-child(3n) {
      & > a { @extend %yellow-link; }
    }

    &:nth-child(3n + 1) {
      & > a { @extend %green-link; }
    }

    &:nth-child(3n + 2) {
      & > a { @extend %blue-link };
    }
  }
}