---
layout: default
---
<article class="post project" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="breadcrumb">
      <a href="/projects" class="">Back to Projects</a>
    </div>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
      {% if page.repo %}
        <a href="{{ page.repo }}" class="repo" target="_blank" rel="noopener noreferrer">Browse this project on Github</a>
      {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}


  <div class="breadcrumb">
    <a href="/projects" class="">Back to Projects</a>
  </div>

</article>
